@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:host {
  background-color: #ffca7e;
  height: 70px;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
}

.nav-bar {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 8px;
}

.spacing {
  margin-right: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.text-container {
  font-size: 36px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px black;
  transition: color 0.2s ease-in-out;
}

.text-container::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  color: #ff9229;
  transition: width 0.2s ease-in-out;
  white-space: nowrap;
}

.text-container:hover::before {
  width: 100%;
}


